set timeout=10
set default=0

if loadfont /boot/grub/themes/gaia/unicode.pf2 ; then
    set gfxmode=auto
    insmod all_video
    insmod gfxterm
    terminal_output gfxterm
fi

if [ -f /boot/grub/themes/gaia/theme.txt ]; then
    set theme=/boot/grub/themes/gaia/theme.txt
fi

menuentry "Gaia Linux - Live Session" --class gaia --class linux {
    linux /live/vmlinuz boot=live components quiet splash
    initrd /live/initrd.img
}

menuentry "Gaia Linux - Install" --class gaia --class linux {
    linux /live/vmlinuz boot=live components quiet splash autoinstall
    initrd /live/initrd.img
}

menuentry "Gaia Linux - Live (Safe Graphics)" --class gaia --class linux {
    linux /live/vmlinuz boot=live components quiet splash nomodeset
    initrd /live/initrd.img
}
