set timeout=10
set default=0

insmod all_video
insmod gfxterm
insmod png

if loadfont /boot/grub/fonts/unicode.pf2 ; then
    set gfxmode=auto
    terminal_output gfxterm
fi

if [ -f /boot/grub/themes/gaia/theme.txt ]; then
    set theme=/boot/grub/themes/gaia/theme.txt
fi

menuentry "Gaia Linux - Live Session" --class gaia --class linux {
    linux /live/vmlinuz-6.1.0-43-amd64 boot=live components quiet splash
    initrd /live/initrd.img-6.1.0-43-amd64
}

menuentry "Gaia Linux - Install" --class gaia --class linux {
    linux /live/vmlinuz-6.1.0-43-amd64 boot=live components quiet splash autoinstall
    initrd /live/initrd.img-6.1.0-43-amd64
}

menuentry "Gaia Linux - Live (Safe Graphics)" --class gaia --class linux {
    linux /live/vmlinuz-6.1.0-43-amd64 boot=live components quiet splash nomodeset
    initrd /live/initrd.img-6.1.0-43-amd64
}
